@charset "utf-8";

/* common S */
body,html {
    position:relative;
    width:100%;
    padding:0;
    margin:0;
    overflow-x: hidden;
}
.hidden {
    text-indent:-9999px;
    font-size:0;
    overflow: hidden;
}
img {
    max-width:100%;
}
button {
    display:block;
    background-color:transparent;
    border:0;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}

/* Header */
header {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:21.7333vw;
    background:url(../images/head.png) no-repeat 0 0;
    background-size:100%;
    z-index:10;
}
/* common E */

/* Main S */
main {
    position: relative;
    width:100%;
    padding-top:9.333vw;
    padding-bottom:43.733vw;;
    box-sizing:border-box;
    background:#241a10 url(../images/bg.jpg) no-repeat 0 0;
    background-size:100%;
    background-attachment:fixed;
}
main:after {
    content:'';
    display:block;
    position:absolute;
    left:0;
    bottom:21.733vw;
    width:100%;
    height:22vw;
    background:url(../images/coin_bottom.png) no-repeat center center;
    background-size: 100%;
}
main > .title {
    position: relative;
    width:100%;
    height:50vw;
}
main > .title span {
    position:absolute;
    left:0;
    bottom:0;
    display:block;
    width:100%;
    height:100%;
    z-index:20;
}
main > .title .drop {
    overflow:visible;
}
main > .title .drop .img {
    background:url(../images/title_drop.png) no-repeat center center;
    background-size:100%;
    text-indent:0;
    font-size:0;
    color:transparent;
    overflow: visible;
    -webkit-animation: 5s linear 0s normal forwards infinite flicker;
    animation: 5s linear 0s normal forwards infinite flicker;
}
main > .title .drop:before {
    content:'';
    display:block;
    position:absolute;
    top:-3.73vw;
    left:15.733vw;
    width:22.53vw;
    height:20.66vw;
    padding:0 22.53vw 20.66vw 0;
    background:url(../images/title_drop_point.png) no-repeat left top;
    background-size:50%;
    -webkit-animation: 1.5s ease-in 0s normal forwards 1 fire;
    animation: 1.5s ease-in 0s normal forwards 1 fire;
}
main > .title .money {
    background:url(../images/title_money.png) no-repeat center center;
    background-size:100%;
    -webkit-animation: 5s linear 1s normal forwards infinite flicker;
    animation: 5s linear 1s normal forwards infinite flicker;
}
main > .title .money:after {
    content:'';
    display:block;
    width:100%;
    height:100%;
    background:url(../images/title_money_point.png) no-repeat center center;
    background-size:100%;
    -webkit-animation: 6s linear 0s normal forwards infinite flicker;
    animation: 6s linear 0s normal forwards infinite flicker;
}
main > .title .txt {
    height:11.46vw;
    background:url(../images/title_txt.png) no-repeat center center;
    background-size:100%;
}
main > .money {
    position: relative;
    text-align:center;
    width:100%;
    margin-top:-0.8vw;
}
main > .money > img {
    width:89.33vw;
    -webkit-animation: .3s ease-in-out 0s infinite alternate bounce;
    animation: .3s ease-in-out 0s infinite alternate bounce;
}
main > .money .txt {
    position:relative;
    display:block;
    width:62.66vw;
    height:15.73vw;
    margin:-15.73vw auto 0;
    overflow:visible;
}
main > .money .txt .img {
    display:block;
    width:100%;
    height:100%;
    background:url(../images/money_txt.png) no-repeat center center;
    background-size:100%;
    -webkit-animation: .3s ease-in-out 0s infinite alternate scale;
    animation: .3s ease-in-out 0s infinite alternate scale;
}
main > .money .txt:before,
main > .money .txt:after {
    content:'';
    position:absolute;
    top:0;
    display:block;
    width:14.53vw;
    height:15.73vw;
}
main > .money .txt:before {
    left:-14.53vw;
    padding:0 0 15.73vw 14.53vw;
    background:url(../images/hand_left.png) no-repeat right top;
    background-size:50%;
    -webkit-animation: .3s ease-in-out 0s infinite alternate rotateLeft;
    animation: .3s ease-in-out 0s infinite alternate rotateLeft;
}
main > .money .txt:after {
    right:-14.53vw;
    padding:0 14.53vw 15.73vw 0;
    background:url(../images/hand_right.png) no-repeat left top;
    background-size:50%;
    -webkit-animation: .3s ease-in-out 0s infinite alternate rotateRight;
    animation: .3s ease-in-out 0s infinite alternate rotateRight;
}
main > .reward-txt {
    width:100%;
    height:31.86vw;
    background:url(../images/reward_txt.png) no-repeat center center;
    background-size:100%;
    margin-top:5.33vw;
}
main > .sns-box {
    position: relative;
    width:100%;
    height:25.733vw;
    margin-top:9.33vw;
    background:url(../images/sns_bg.png) no-repeat center center;
    background-size:100%;
}
main > .sns-box:after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:url(../images/sns_line.png) no-repeat center center;
    background-size:100%;
    opacity:.2;
}
.sns-box.on:after {
    -webkit-animation: 4s ease-in-out .5s normal forwards infinite flicker2;
    animation: 4s ease-in-out .5s normal forwards infinite flicker2;
}
main > .sns-box button {
    position: absolute;
    top:8.66vw;
    width:12vw;
    height:10.66vw;
    font-size:0;
    overflow:hidden;
}
main .main-btn {
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    height:21.733vw;
    background:url(../images/btn.png) no-repeat center center;
    background-size: 100%;
    z-index:50;
}
/* Main E */

/* Coin S */
.coin {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    overflow: hidden;
}
.coin i {
    display:block;
    position:absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size:100%;
    opacity:0;
    top:-100%;
    z-index:40;
    -webkit-transition-property: opacity top;
    transition-property: opacity top;
    -webkit-transition-duration:1s;
    transition-duration:1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.coin.on i {
    opacity: 1;
}
.coin > i:nth-of-type(1) {
    left:0;
    width:12.8vw;
    height:34.26vw;
    background-image: url(../images/coin1.png);
}
.coin > i:nth-of-type(2) {
    left:17.33vw;
    width:10.4vw;
    height:14.133vw;
    background-image: url(../images/coin2.png);
}
.coin > i:nth-of-type(3) {
    left:0vw;
    width:6.4vw;
    height:15.2vw;
    background-image: url(../images/coin3.png);
}
.coin > i:nth-of-type(4) {
    right:9.33vw;
    width:8.93vw;
    height:13.86vw;
    background-image: url(../images/coin5.png);
}
.coin > i:nth-of-type(5) {
    right:0vw;
    width:16.53vw;
    height:22.66vw;
    background-image: url(../images/coin4.png);
}
.coin > i:nth-of-type(6) {
    right:0vw;
    width:15.6vw;
    height:25.33vw;
    background-image: url(../images/coin6.png);
}
.coin.on > i:nth-of-type(1) {
    top:14.4vw;
}
.coin.on > i:nth-of-type(2) {
    top:63.33vw;
}
.coin.on > i:nth-of-type(3) {
    top:81.866vw;
}
.coin.on > i:nth-of-type(4) {
    top:58.26vw;
}
.coin.on > i:nth-of-type(5) {
    top:45.866vw;
}
.coin.on > i:nth-of-type(6) {
    top:85.06vw;
}
.coin.on .l-size > i {
    opacity: 1;
    top:150%;
}
.coin .l-size > i:nth-of-type(1) {
    left:57%;
    width:10.4vw;
    height:14.133vw;
    background-image: url(../images/coin2.png);
    transform: translateX(-50%) scale(3.0) ;
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}
.coin .l-size  > i:nth-of-type(2) {
    left:57%;
    width:16.53vw;
    height:22.66vw;
    background-image: url(../images/coin4.png);
    transform: translateX(-50%) scale(6.0) ;
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}
.coin .l-size > i:nth-of-type(3) {
    left:30%;
    width:8.93vw;
    height:13.86vw;
    background-image: url(../images/coin5.png);
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}
.coin .l-size > i:nth-of-type(4) {
    left:30%;
    width:16.53vw;
    height:22.66vw;
    background-image: url(../images/coin4.png);
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}
.coin .l-size > i:nth-of-type(5) {
    right:20vw;
    width:10.4vw;
    height:14.133vw;
    background-image: url(../images/coin2.png);
    -webkit-transform: scale(10.0) ;
    transform: scale(10.0) ;
}
/* Coin E */

/* POPUP S */
.popup {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background:#000;
    z-index:100;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0s .2s;
    transition: all 0s .2s;
}
.popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0s 0s;
    transition: all 0s 0s;
}
.popup .con1 {
    position:absolute;
    top:-50%;
    left:0;
    width:100%;
    height:50%;
    background:url(../images/pop_bg1.jpg) no-repeat left bottom;
    background-size: 100%;
    -webkit-animation: .2s ease-in-out 0s normal forwards 1 closePop1;
    animation: .2s ease-in-out 0s normal forwards 1 closePop1;
}
.popup .con1:before {
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:27.6vw;
    height:55.6vw;
    background:url(../images/chain.png) no-repeat center center;
    background-size:100%;
}
.popup.is-visible .con1 {
    -webkit-animation: 2s ease-in-out 0s normal forwards 1 bouncePop1;
    animation: 2s ease-in-out 0s normal forwards 1 bouncePop1;
}
.popup .con2 {
    position:absolute;
    bottom:-50%;
    left:0;
    width:100%;
    height:50%;
    background:url(../images/pop_bg2.jpg) no-repeat left top;
    background-size: 100%;
    -webkit-animation: .2s ease-in-out 0s normal forwards 1 closePop2;
    animation: .2s ease-in-out 0s normal forwards 1 closePop2;
}
.popup.is-visible .con2 {
    -webkit-animation: 2s ease-in-out 0s normal forwards 1 bouncePop2;
    animation: 2s ease-in-out 0s normal forwards 1 bouncePop2;
}
.popup .close-btn{
    position:absolute;
    top:18.8vw;
    right:6.4vw;
    width:8.66vw;
    height:8.53vw;
    background:url(../images/icon_close.png) no-repeat center center;
    background-size:100%;
}
.popup button {
    font-size:0;
    overflow:hidden;
}
.popup .pop-btn{
    position: fixed;
    left:0;
    bottom:-21.066vw;
    width:100%;
    height:21.066vw;
    background:url(../images/pop_btn.png) no-repeat center center;
    background-size:100%;
    -webkit-transition: all .3s .0s ;
    transition: all .3s .0s ;
}
.popup.is-visible .pop-btn {
    bottom:0;
    -webkit-transition: all .3s .3s ;
    transition: all .3s .3s ;
}
/* POPUP E */

/* animation S */
@keyframes fire {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    80% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {    
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes flicker {
    0% {
        opacity: 1;
    }
    34%{
        opacity: 1;
    }
    35% {
        opacity: .5;
    }
    37% {
        opacity: .95;
    }
    39% {
        opacity: .5;
    }
    41% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    92% {
        opacity: .8;
    }
    94% {
        opacity: 1;
    }
    96% {
        opacity: .5;
    }
    97% {
        opacity: 1;
    }
    97% {
        opacity: .8;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
  }
@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
} 
@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
} 
@keyframes rotateLeft {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    60% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}
@keyframes rotateRight {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    60% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
}
@keyframes flicker2 {
    0% {
        opacity: .2;
    }
    2% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    22%{
        opacity: .2;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: .2;
    }
    28% {
        opacity: 1;
    }
    98% {
        opacity:1;
    }
    100%{
        opacity:.2;
    }
}
@keyframes bouncePop1 {
    0% {
        top:-50%;
    }
    10% {
        top: 0;
    }
    20%  {
        top:-30%;
    }
    25% {
        top:0;
    }
    30% {
        top:-10%;
    }
    35% {
        top:0;
    }
    100% {
        top:0;
    }
}
@keyframes bouncePop2 {
    0% {
        bottom:-50%;
    }
    10% {
        bottom: 0;
    }
    20%  {
        bottom:-30%;
    }
    25% {
        bottom:0;
    }
    30% {
        bottom:-10%;
    }
    35% {
        bottom:0;
    }
    100% {
        bottom:0;
    }
}
@keyframes closePop1 {
    0% {
        top:0;
    }
    100% {
        top:-50%;
    }
}
@keyframes closePop2 {
    0% {
        bottom:0;
    }
    100% {
        bottom:-50%;
    }
}
/* animation E */