.product {
  .section {
    width: 100%;
    text-align: center;
    background: transparent;
    padding: rem(100) 0 rem(160);
    &:nth-child(1) {
      margin-top: rem(-100);
    }
    &:nth-child(2) {
      position: relative;
      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #f9f9f9;
        z-index: -1;
      }
    }
    >strong.str {
      display: block;
      font-size: rem(24);
      font-weight: 700;
      color: $primary-color;
      padding-top: rem(80);
    }
    .info {
      max-width: rem(1200);
      margin: 0 auto;
      width: 100%;
      padding: rem(100) 0;
      >li {
        width: 33.333%;
        float: left;
        .ico-wrap {
          width: rem(200);
          height: rem(200);
          margin: 0 auto;
          background: #f8faff;
          border-radius: 100%;
          position: relative;
          img {
            @include position-center;
          }
        }
        h5 {
          margin: rem(28) 0 rem(36);
          font-size: rem(24);
          font-weight: 500;
          &:after {
            content: '';
            display: block;
            width: rem(40);
            height: rem(1);
            background: $primary-color;
            margin: rem(36) auto 0;
          }
        }
      }
    }
    .more-box {
      width: 100%;
      max-width: rem(1200);
      margin: 0 auto;
      box-sizing: border-box;
      border: 1px solid $border-color;
      h4 {
        padding: rem(45) rem(50);
        font-size: rem(28);
        font-weight: 700;
      }
      ul.right {
        width: rem(930);
        li {
          min-width: rem(300);
          padding: 0 rem(50);
          margin: rem(50) 0;
          box-sizing: border-box;
          float: left;
          border-left: 1px solid $border-color;
          &:nth-child(1) {
            border: 0;
          }
          strong {
            display: block;
            padding-bottom: rem(24);
            font-size: $sub-head;
            font-weight: 500;
            color: $primary-color;
          }
          .btn {
            font-size: rem(16);
          }
        }
      }
    }
    .title-step {
      width: rem(800);
      margin: rem(60) auto rem(45);
      >ul {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-radius: rem(50);
        overflow: hidden;
        background: url(../images/pro_step_bg.png) no-repeat center center;
        background-size: 100%;
        li {
          display: table-cell;
          color: #fff;
          padding: rem(18) 0;
          font-size: rem(20);
        }
      }
    }
    .table-img-wrap {
      width: 100%;
      max-width: rem(1200);
      margin: 0 auto;
      .al-right {
        text-align: right;
        &.txt {
          line-height: 1.6;
          color: $default-color-lighten;
          font-size: rem(12);
          padding-bottom: rem(12);
        }
      }
      p.s-txt {
        padding-top: rem(28);
        text-align: left;
        line-height: 1.6;
        color: $default-color-lighten;
        font-size: rem(12);
      }
    }
    &.install {
      .txt-wrap {
        padding: rem(100) 0 rem(75);
        font-size: $title-txt;
        color: $default-color-lighten;
        strong {
          display: block;
          font-size: $view-title-txt;
          padding-bottom: rem(15);
          color: $default-color;
        }
      }
      .box-wrap {
        width: 100%;
        max-width: rem(1200);
        margin: 0 auto;
        .box {
          text-align: left;
          width:calc(50% - #{rem(25)});
          padding: rem(50) rem(30);
          border: 1px solid $border-color;
          box-sizing: border-box;
          background: #fff;
          h4 {
            font-size: $view-title-txt;
            font-weight: 500;
            span {
              display: block;
              font-size: $title-txt;
              font-weight: 400;
              padding: rem(12) 0 rem(32);
            }
          }
          .date {
            display: block;
            font-size: rem(16);
            color: $default-color-lighten;
          }
          .btn {
            display: block;
            width: rem(400);
            margin: rem(40) auto rem(50);
            .icon-download {
              margin-right: rem(20);
            }
          }
          .list-wrap {
            h5 {
              font-size: rem(20);
            }
            ul {
              font-size: $title-txt;
              color: $default-color-lighten;
              li {
                margin: rem(16) 0;
              }
            }
          }
        }
      }
      .video-wrap {
        width: 100%;
        max-width: rem(1200);
        margin: rem(90) auto rem(40);
        .title-bar {
          display: block;
          text-align: left;
          font-size: $sub-head;
          font-weight: 500;
        }
        .video {
          width: rem(760);
          margin: rem(70) auto 0;
          .v-box {
            position: relative;
            height: 0;
            padding-bottom: 56.25%;
            background: #000000;
            border-radius: rem(10);
            overflow: hidden;
            iframe {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              z-index: 3;
            }
            .btn-play {
              @include position-center;
              z-index: 2;
              width: rem(80);
              height: rem(80);
              border-radius: 100%;
              background: $primary-color-lighten;
              span {
                margin-left: rem(5);
              }
            }
          }
        }
      }
    }
  }
}

.compare {
  .table-wrap {
    width: rem(1100);
    margin: 0 auto;
    max-width: 100%;
    th {
      &.gray {
        background: #f1f1f1;
      }
      &.point {
        background: $primary-color;
        color: #fff;
        border-bottom-color: #fff;
        border-left: 2px solid $primary-color;
        border-right: 2px solid $primary-color;
      }
    }
    td {
      &:nth-last-child(1),
      &:nth-last-child(2),
      &:nth-last-child(3) {
        background: #f9f9f9;
      }
      &.point {
        border-left: 2px solid $primary-color;
        border-right: 2px solid $primary-color;
        &.last {
          border-bottom: 2px solid $primary-color;
        }
        &.color {
          color: $primary-color-lighten;
        }
      }
      &.red {
        color: $secondary-color;
      }
    }
  }
}

.isms {
  .con {
    width: rem(1100);
    margin: 0 auto;
    max-width: 100%;
    .disc-list {
      display: block;
      li {
        font-size: $title-txt;
        p {
          font-size: $basic-txt;
        }
      }
    }
  }
  .img-box {
    position: absolute;
    right: rem(50);
    bottom: rem(120);
    z-index: -1;
  }
}

@media screen and (max-width: 1200px) {
  .product .section .more-box {
    >h4 {
      float: none;
    }
    >.right {
      float: none;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 992px) {
  .product {
    .section {
      box-sizing: border-box;
      width: 100%;
      padding: rem(100) rem(30) rem(100);
      &:last-child {
        margin-bottom: rem(-150);
      }
      >strong.str {
        font-size: rem(30);
        padding-top: rem(50);
        line-height: 1.4;
        padding: rem(50);
        word-break: keep-all;
      }
      .info {
        width: 100%;
        padding: rem(50) 0;
        >li {
          width: auto;
          float: none;
          margin-bottom: rem(50);
          .ico-wrap {
            width: rem(250);
            height: rem(250);
            img {
              width: rem(140);
              @include position-center;
            }
          }
          h5 {
            margin: rem(40) 0 rem(30);
            font-size: rem(30);
            font-weight: 500;
            &:after {
              width: rem(40);
              height: rem(2);
              margin: rem(32) auto 0;
            }
          }
        }
      }
      .more-box {
        h4 {
          float: none;
          padding: rem(50);
          font-size: rem(34);
          font-weight: 700;
        }
        ul.right {
          float: none;
          width: 100%;
          box-sizing: border-box;
          padding: 0 rem(50);
          li {
            width: 100%;
            min-width: auto;
            padding: rem(50) 0;
            margin: 0;
            float: none;
            border-left: 0;
            border-bottom: 1px solid $border-color;
            &:nth-child(1) {
              border-bottom: 1px solid $border-color;
            }
            &:last-child {
              border-bottom: 0;
            }
            strong {
              padding-bottom: rem(34);
              font-size: rem(28);
            }
            .btn {
              font-size: rem(24);
              padding: rem(24) 0;
              width: rem(350);
            }
          }
        }
      }
      .title-step {
        width: 100%;
        margin: rem(44) auto rem(60);
        >ul {
          background: url(../images/pro_step_bg_m.png) no-repeat center center;
          background-size: 100%;
          li {
            padding: rem(20) 0;
            font-size: rem(24);
          }
        }
      }
      .table-img-wrap {
        .al-right {
          &.txt {
            font-size: rem(20);
            padding-bottom: rem(10);
          }
        }
        p.s-txt {
          padding-top: rem(18);
          font-size: rem(20);
        }
      }
      &.install {
        .txt-wrap {
          padding: rem(50) 0 rem(56);
          font-size: rem(24);
          strong {
            display: block;
            font-size: rem(30);
            padding-bottom: rem(24);
          }
        }
        .box-wrap {
          .box {
            float: none;
            width: 100%;
            padding: rem(46) rem(30);
            margin: 0 0 rem(50);
            h4 {
              font-size: rem(30);
              font-weight: 500;
              span {
                display: block;
                font-size: rem(24);
                padding: rem(14) 0 rem(30);
              }
            }
            .date {
              font-size: rem(22);
            }
            .btn {
              display: block;
              width: rem(590);
              max-width: 100%;
              margin: rem(34) auto rem(36);
              .icon-download {
                margin-right: rem(24);
              }
            }
            .list-wrap {
              h5 {
                font-size: rem(26);
              }
              ul {
                font-size: rem(24);
                color: $default-color-lighten;
                li {
                  margin: rem(16) 0;
                }
              }
            }
          }
        }
        .video-wrap {
          width: 100%;
          max-width: rem(1200);
          margin: rem(0) auto rem(40);
          .title-bar {
            display: block;
            text-align: left;
            font-size: rem(26);
            font-weight: 500;
          }
          .video {
            width: 100%;
            margin: rem(46) auto 0;
            .v-box {
              .btn-play {
                @include position-center;
                z-index: 2;
                width: rem(80);
                height: rem(80);
                border-radius: 100%;
                background: $primary-color-lighten;
                span {
                  margin-left: rem(5);
                }
              }
            }
          }
        }
      }
    }
    .pop-box-wrap {
      h4 {
        font-size: rem(30);
        font-weight: 500;
        color: $primary-color;
        text-align: left;
        border-bottom: 1px solid $border-color;
        padding: rem(35) rem(30);
      }
      .btn {
        width: rem(200);
        font-size: rem(32);
        font-weight: 500;
        position: absolute;
        right: auto;
        top: auto;
        left: rem(30);
        bottom: rem(16);
      }
      .con {
        box-sizing: border-box;
        padding: rem(60) rem(40);
        line-height: 1.6;
        font-size: rem(32);
        font-weight: 500;
        .img-box {
          padding-top: rem(40);
        }
      }
    }
  }
  .isms {
    .con {
      width: 100%;
      margin: 0 auto;
      max-width: 100%;
      .txt {
        margin-top: rem(40);
      }
      .disc-list {
        display: block;
        li {
          font-size: rem(28);
          p {
            font-size: rem(26);
          }
          &:before {
            @include disc-list-m;
          }
        }
      }
      .img-box {
        position: static;
        right: rem(50);
        bottom: rem(120);
        z-index: -1;
      }
    }
  }
}