@media screen and (max-width: 1450px) {
    html {
        font-size:rem(12);
    }
    header .nav-wrap {
        left:47%;
    }
}
@media screen and (max-width: 1080px)  {
    html {
        font-size:rem(11);
    }
}