// position 정 가운데
@mixin position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
// position 세로 기준 가운데
@mixin position-center-top {
  position: absolute;
  top: 50%;
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
// position 가로 기준 가운데
@mixin position-center-left {
  position: absolute;
  left: 50%;
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
// background 이미지 기본
@mixin bg-img-basic {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
// transition 기본
@mixin transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
