.portfolio-wrap {
  position: relative;
  padding:40px 0px 0;
  box-sizing:border-box;
  .sub-btn {
    background:url(../img/user.svg) no-repeat left center;
    background-size:70px 70px;
    .name {
      display:inline-block;
      max-width:0px;
      line-height:70px;
      padding-left:0px;
      box-sizing: border-box;
      overflow: hidden;
      @include transition;
    }
    &:hover {
      .name {
        max-width:400px;
        padding-left:80px;
      }
    }
  }
  .portfolio {
    .tab-btns {
      position:absolute;
      top:80px;
      right:0;
      text-align: right;
      button {
        display:inline-block;
        margin-left: 50px;
        color:#999;
        font-size: rem(12);
        &.active {
          font-weight:bold;
          color:#000;
        }
      }
    }
    .con{
      width:100%;
      padding: 30px;
      box-sizing:border-box;
      img {
        @include position-center-left;
        top:0;
        width:100%;
        &.h100 {
          width:auto;
          height:100%;
        }
      }
      ul {
        display:flex;
        -ms-display: flexbox;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
          display:none;
          position: relative;
          width:25vw;
          height:18vw;
          margin-bottom:40px;
          overflow: hidden;
          border: 1px solid #eee;
          box-sizing:border-box;
          cursor: pointer;
          > a {
            position: relative;
            display:block;
            width:100%;
            height:100%;
          }
          .txt-wrap {
            position:absolute;
            left:0;
            display: block;
            top:100%;
            width:100%;
            height:100%;
            background:rgba(0,0,0,0.5);
            color:#fff;
            box-sizing: border-box;
            @include transition;
            .txt {
              position:absolute;
              width: calc(100% - 50px);
              left:25px;
              bottom:4%;
              font-size: rem(14);
              line-height:1.6;
              h5 {
                padding-bottom:10px;
                border-bottom: 1px solid #fff;
                font-size:rem(16);
                margin-bottom: 10px;
              }
            }
          }
          &:hover {
            .txt-wrap {
              top:0;
            }
          }
        }
      }
    }
  }
}

// 태블릿
@media (min-width: 768px) and (max-width: 1024px) {
  .portfolio-wrap {
    .portfolio {
      .con{
        padding: 30px 10px;
        ul {
          li {
            .txt-wrap {
              .txt {
                width: calc(100% - 30px);
                left:15px;
                bottom:4%;
                font-size: rem(13);
                h5 {
                  padding-bottom:6px;
                  font-size:rem(15);
                  margin-bottom: 6px;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
  }
  
}

// 모바일
@media (max-width: 767px) {
  .portfolio-wrap {
    .sub-btn {
      background:url(../img/user.svg) no-repeat left center;
      background-size:55px 55px;
      .name {
        display:none;
      }
    }
    .portfolio {
      .tab-btns {
        position:static;
        text-align: center;
        padding:10px 0 0;
        button {
          display:inline-block;
          margin:0;
          padding:20px;
          font-size: rem(14);
        }
      }
      .con{
        width:100%;
        padding: 0px 0px 10px;
        box-sizing:border-box;
        img {
          width:100%;
        }
        ul {
          display:block;
          li {
            width:100%;
            height:auto;
            margin-bottom:20px;
            overflow: hidden;
            border: 0px;
            box-sizing:border-box;
            cursor: pointer;
            > a{
              min-height:150px;
              img {
                width:45%;
                height:auto;
                -webkit-transform: translate(0%, 0%);
                -moz-transform: translate(0%, 0%);
                -o-transform: translate(0%, 0%);
                -ms-transform: translate(0%, 0%);
                transform: translate(0%, 0%);
                top:0;
                left:0;
                border:1px solid #eee;
                &.h100 {
                  width:45%;
                  height:auto;
                  @include position-center-top;
                }
              }
            }
            .txt-wrap {
              position:absolute;
              left:0;
              top:0;
              display: block;
              background:transparent;
              color:#333;
              box-sizing: border-box;
              .txt {
                width:50%;
                left:50%;
                @include position-center-top;
                bottom:auto;
                font-size: rem(13);
                h5 {
                  padding-bottom:10px;
                  border-bottom: 1px solid #aaa;
                  font-size:rem(15);
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}