//rem 변환 함수
@function rem($px){
	@return $px / $rem + rem;
}

// 기본 폰트사이즈
$rem : 16;
$basic-txt : rem(16);
$small-txt : rem(14);


// colors
$default-color : #333333; // 텍스트
$default-color-lighten : #666; //텍스트-밝은
$default-color-light : #999; //텍스트-더 밝은
$color-gray : #4e4e4e; // 텍스트

$placeholder-color:#999;
